.logo{
    text-align: center;
    color: black;
    margin-left: 1%;
    padding-top: 10px;
}

nav{
 text-align: center;
}

.navi{
    list-style: none;
}

.lists{
    list-style-type: none;
    float: left;
    margin-left:42% ;
    margin-right: 3%;
    border: solid black 3px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.lists:hover{
background-color: green;
color: white;
}

.lists2{
    list-style-type: none;
    float: left;
    margin-right:40% ;
    border: solid black 3px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.lists2:hover{
    background-color: green;
    color: white;
    }

.head{
    width: 100%;
    height: 150px;
    background-color: greenyellow;
}

.section-1{
    width: 100%;
    height: 600px;
    background-color:lightgray;
}

.section-2{
    width: 100%;
    height: 600px;
    background-color: gray;
}

footer{
    width: 100%;
    height: 300px;
    background-color: black;
}

a{
    color: black;
}

.choose{
    width: 100%;
    height: 1600px;
    background-color: lightgrey;
    padding: 50px;
}

.dom{
    width: 70%;
    height: 200px;
    background-color: white;
    position: fixed;
    margin-left: 13%;
    border-radius: 50px;
    margin-bottom: 300px;
    opacity: 80%;
    }

.begin{
    width: 50%;
    height: 250px;
    margin-left: 25%;  
}

.begin2{
    width: 50%;
    height: 300px;
    margin-left: 26%;
    background-color: white;  
    border-radius: 50px; 
}

.title{
    text-align: center;
}

.sname{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
}

.bread{
   margin-left: 30%; 
   margin-top: 20px;
}

.check{
    margin-left: 32%;
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}

.bre{
    padding-left: 10px;
   padding-top: 3px;
   
}

.begin3{
    width: 50%;
    height: 250px;
    margin-left: 26%;
    background-color: white;  
    border-radius: 50px; 
    margin-top: 50px;
}

.begin4{
    width: 50%;
    height: 250px;
    margin-left: 26%;
    background-color: white;  
    border-radius: 50px; 
    margin-top: 50px;
}

.begin5{
    width: 50%;
    height: 320px;
    margin-left: 26%;
    background-color: white;  
    border-radius: 50px; 
    margin-top: 50px; 
}

.bres{
   width: 400px;
    padding-left: 10px;
    padding-top: 3px;
    margin-left: 32%;

}
